<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allshopping.app">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".Constants"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".DealsWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".DetailsDeals"
            android:exported="true" />
        <activity
            android:name=".AllDeals"
            android:exported="true" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".TempActivity" />
        <activity android:name=".MyRewards" />
        <activity android:name=".LoginSignup.LoginActivity" />
        <activity android:name=".LoginSignup.RegisterActivity" />
        <activity android:name=".ReferActivity" />
        <activity android:name=".CategoryDetailActivity" />
        <activity android:name=".CouponWebView" />
        <activity android:name=".CouponPackage.CouponDetails" />
        <activity android:name=".CouponCodes" />
        <activity android:name="com.allshopping.NotificationActivity" />
        <activity android:name=".ScratchUI" />
        <activity android:name=".DetailWebViewFav" />
        <activity android:name=".DetailVideoActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".Favorite.DetailWebView" />
        <activity android:name=".Favorite.BookMarksActivity" />
        <activity
            android:name=".Intros.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".affiliateItems.AffiliateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_view"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/SearchTheme" />
        <activity android:name=".slidingitemclickdestination.SliderItemDestination" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notif_white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryDark" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>